extends layouts/admin

block content
  div#dependencies
    h1 #{title}
    div.row
      div.col-sm-12.col-md-8.push-md-2.col-lg-6.push-lg-3
        div(v-if="modules && typeof modules === 'string'") {{ modules }}
        div
          table.table.table-hover.table-sm
            thead
              tr
                th.text-left Module
                th.text-right Stable
            tbody(v-if="modules && typeof modules === 'object'")
              tr(v-for='(version, module) in modules')
                td.text-left {{ module }}
                td.text-right {{ version }}
        button(@click="checkForUpdates") Check for Updates
        button(@click="updateModules" v-if="modules && typeof modules === 'object'") Update All

block scripts
  script.
    var app = new Vue({
      el: '#dependencies',
      data: {
        modules: ''
      },
      methods: {
        checkForUpdates() {
          var self = this
          this.modules = 'Loading...'
          
          axios.get('/admin/check-for-updates')
              .then((res) => {
                self.modules = (Object.keys(res.data).length > 0) ? res.data : 'Your modules are all up to date! :)'
              }).catch((err) => {
                self.modules = 'There was an error retrieving module versions.'
              })
        },
        updateModules() {
          var self = this
          this.modules = 'Updating...'
          
          axios.get('/admin/update-modules')
              .then((res) => {
                self.modules = 'Your modules have been updated!'
              }).catch((err) => {
                self.modules = 'There was an error updating your modules.'
              })
        }
      }
    })
