doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    block metas
    block styles
    block scripts-head
    
  body
    block navigation
    
    div.container
      block content
    
    block scripts