{
  "title": "My App",
  "activeTheme": {
    "name": "basic",
    "viewEngine": "pug"
  },
  "env": "development",
  "admin": {
    "username": "admin",
    "password": "admin"
  },
  "db": {
    "name": "primary",
    "username": "postgres",
    "password": "password",
    "settings": {
      "dialect": "postgres",
      "storage": "database/db.sqlite",
      "pool": {
        "max": 5,
        "min": 0,
        "idle": 10000
      }
    }
  }
}