extends layouts/layout

block metas
  title !{ (((title) ? title + ' &mdash; ' : '') + 'Admin Panel') }

block styles
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css')
  link(rel='stylesheet' href='/admin/static/css/styles.css')

block body
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
    div#app
    
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" async)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" async defer)
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" async defer)
    script(src="/admin/static/js/build.js")
