extends layouts/layout

block metas
  title Login

block scripts-head
  script(src="//cdn.auth0.com/js/lock/10.12.1/lock.min.js")

block body
  body
    div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")
    
    script.
      // Construct an instance of Auth0Lock with your clientId and auth0 domain name
      var lock = new Auth0Lock('#{client_id}', '#{domain}',
          { 
            auth: {
              redirectUrl: '#{callback}',
              responseType: 'code',
              params: {
                scope: 'openid name email picture'
              },
            },
            theme: {
              logo: 'http://www.jakemitchell.xyz/wp-content/uploads/2016/11/favicon.png',
              primaryColor: '#4B0082'
            },
            languageDictionary: {
              title: 'Admin Panel',
            },
            closable: false,
          })
  
      // Show lock's login widget
      lock.show()